<%= form_tag(controller: "register_user", action: "create", method: "post") do%>
  
  <ul>
    <p>
      <div><%= label_tag(:email, "Email*:") %></div>
      <%= text_field_tag(:email) %>
    </p>

    <p>
      <div><%= label_tag(:password, "Password*:") %></div>
      <%= text_field_tag(:password) %>
    </p>

    <p>
      <div><%= label_tag(:confirm_password, "Confirm Password*:") %></div>
      <%= text_field_tag(:confirm_password) %>
    <p>

    <p>
      <div><%= submit_tag("Save") %></div>
    </p>
  </ul> 
<% end %>
