  <div class="row col-md-8 col-md-offset-1">
    <h1 class="inline">Projects</h1>
    <% if admin_signed_in?%>
      <%= link_to "New project", new_project_path, class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="row col-md-8 col-md-offset-1">
    <table class="table table-hover">
      <tbody>
        <% @project.each do |project| %>
          <tr>
            <td class="col-md-9"><%= project.name%></td>
            <td class="col-md-3">
              <%= link_to "", project , class: "glyphicon glyphicon-search col-md-4 details"%>
              <%= link_to "", edit_project_path(project.id), class: "glyphicon glyphicon-pencil col-md-4 edit_icon" %>
              <%= link_to "", project, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-trash col-md-4 delete_icon" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% if admin_signed_in?%>  
      <%= link_to "New User", new_register_user_path %>
  <% end %>