<h1>Project List</h1>
<div>
  <% if admin_signed_in?%>
  		<%= link_to "New project", new_project_path %>
      <br>
      <%= link_to "New User", new_register_user_path %>
  <% end %>	
  	<% @project.each do |project| %>
  		<ul>
			<div><strong>Name:</strong><%= project.name%></div>
    		<div><strong>Description:</strong><%= project.description %></div>
    		<div><%= link_to 'Details', project %></div>
    		<% if admin_signed_in? %>
          <div><%= link_to "Edit", edit_project_path(project.id) %></div>
       		<div><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></div>
  		  <% end %>
      </ul>
  	<% end %>
</div>