<h1>Project <%= @project.name %></h1>
<div>
  <ul>
    <li><strong>Name: </strong><%= @project.name %></li>
    <li><strong>Description: </strong><%= @project.description%></li><br>
    <p>
      <%= link_to "Back", projects_path%>
      <% if admin_signed_in? %>
       <span> <%= link_to "Edit", edit_project_path%></span>
      <% end %>
    </p>
  </ul>
  <h2>Test Plans</h2>
  <ul>
    <% @project.test_plans.each do |tp| %>
      <li><%= link_to tp.test_plan_name, "/projects/#{@project.id}/test_plans/#{tp.id}"%></li>
    <% end %>
    <%= link_to "New Test Plan", "/projects/#{@project.id}/test_plans/new" %>
  </ul>
</div>