<h1>Project <%= @project.name %></h1>
<div>
  <ul>
    <li><strong>Name: </strong><%= @project.name %></li>
    <li><strong>Description: </strong><%= @project.description%></li><br>
    <p><%= link_to "Back", projects_path%>
    
    <% if admin_signed_in? %>
      <span> <%= link_to "Editar", edit_project_path%></span>
    <% end %>
    </p>
  </ul>
</div>