<% resource_path = (test_plan ? [@project, test_plan, @test] : [@project, @test]) %>
<%= form_for resource_path do |f| %>
  <% if @test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test.errors.count, "Erro") %>: * Fields are required!</h2>

      <ul>
        <% @test.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <ul>
    
    <p>
      <div class="field">
        <label >Title*:</label>
        <%= f.text_field :title, class:"form-control"%>
      </div>
    </p>

    <p>
      <div class="field">
        <label >Description*:</label>
        <%= f.text_field :description, class:"form-control"%>
      </div>
    </p>

    <p>
      <div class="field">
        <label >Time*:</label>
        <%= f.text_field :time, class:"form-control"%>
      </div>
    </p>

    <p>
      <div class="field">
        <label >Status*:</label>
        <%= f.select(:status, options_for_select([['Not Executed', "Not_Executed"], ['Blocked', "Blocked"], ['Passed', "Passed"], ['Failure', "Failure"]])) %>
      </div>
    </p>

    <p>
      <div class="field">
        <label >Criticality*:</label>
        <%= f.select(:criticality, options_for_select([['Low', "Low"], ['Medium', "Medium"],['Critical', "Critical"]])) %>
      </div>
    </p>

    <% if @test_plan %>
      <%= hidden_field :test_plan, :id %>
    <% end %>
    <p>
      <button type="submit">Save</button>
    </p>
  </ul>
<%end%> 
