<h1>Test Case List</h1>
<div>
	<ul>
		<%= link_to "New Test Case", new_project_test_case_path %>
	</ul>	
  	<% @test.each do |test| %>
  		<ul>
			<div><strong>Title:</strong><%= test.title%></div>
      <div><strong>Description:</strong><%= test.description %></div>
      <div><strong>Criticality:</strong><%= test.criticality%></div>
      <div><strong>Time:</strong><%= test.time%></div>
    		<div><%= link_to 'Details', "#{test.id}" %></div>
    		<div><%= link_to "Edit", "test_cases/#{test.id}/edit" %></div>
    		<div><%= link_to 'Destroy', [@project, test], method: :delete, data: { confirm: 'Are you sure?' } %></div>
  		</ul>
  	<% end %>
</div>