<div class="row col-md-12">
  <h1><%= @test_plan.test_plan_name %>
    <span>
      <small><%= link_to "", edit_project_test_plan_path, class: "glyphicon glyphicon-pencil"%></small>
    </span>
  </h1>
  <div>
    <strong class="panel panel-default col-md-8"><%= @test_plan.test_plan_description%></strong>
  </div>
</div>
<div class="row col-md-12">
  <div class="row col-md-8">
    <h2 class="pull-left">Test Cases</h2>
    <span class="pull-right new-project"> <%= link_to "New Test Case", "/test_cases/new", class: "btn btn-primary" %> </span>
  </div>
  <div class="row col-md-8">
    <table class="table table-hover">
      <tbody>
        <% @test_plan.test_cases.each do |tc| %>
          <tr>
            <td class="col-md-9"><%= tc.title%></td>
            <td class="col-md-3">
              <%= link_to "", "/test_cases/#{tc.id}", class: "glyphicon glyphicon-search col-md-4 details" %>
              <%= link_to "", edit_test_case_path, class: "glyphicon glyphicon-pencil col-md-4 edit_icon" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>