<div class="row col-md-12">
  <h1><%= @test_plan.test_plan_name %>
    <span>
      <small><%= link_to "", edit_project_test_plan_path, class: "glyphicon glyphicon-pencil"%></small>
    </span>
  </h1>
  <div>
    <strong class="panel panel-default col-md-8"><%= @test_plan.test_plan_description%></strong>
  </div>
</div>

<%if @test_plan.test_cases.size >= 1%>
  <%= render 'list_test_cases'%>
<%else%>
  <%= render 'no_tests'%>
<%end%>

