<!DOCTYPE html>
<html>
<head>
  <title>Qafree</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container-fluid">
		<% if user_signed_in? %>
			<p>
				Olá <%= current_user.email%>
				<span>
					<%= link_to "Logout", destroy_user_session_path, :method => :delete %>
				</span>
			</p>
		<% elsif admin_signed_in? %>
			<p>
				Olá <%= current_admin.email%>
				<span>
					<%= link_to "Logout", destroy_admin_session_path, :method => :delete %>
				</span>
			</p>
		<% end %>
		<%= yield %>
	</div>
</body>
</html>
